.nav-view,
.nav-column {
     background: #f4f5f9;
 }   
 .nav-view .webix_list_item:hover,
 .nav-view .webix_list_item.webix_selected  {
    background: #edeff5;
 }
 .alert-success {
    text-align: center;
    color: #268a36;
    background: transparent;
 }
.btn-remove-user,
.btn-remove-film {
    display: inline-block;
    width: 100%;
    height: 100%;
    min-width: 20px;
    max-width: 35px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
}
.btn-remove-user:hover,
.btn-remove-film:hover {
    background: #f4f5f9;
}
.btn-remove-user {
    float: right;
}
.footer {
    position: relative;
    text-align: center;
}